.App {
  width: 100vw;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movielist {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}